.track-second-controls__wrapper {
    position: absolute;
    bottom: 0;
    right: 3rem;

    height: var(--player-height);

    display: flex;
    align-items: center;

    gap: 2rem;
}

.button {
    border: none;
    overflow: hidden;
    width: 2.8rem;
    height: 2.8rem;
}

.button svg {
    height: 100%;
}

.button svg path[fill]:not([fill="none"]) {
    fill: var(--main-color);
}
.button svg path[stroke]:not([stroke="none"]) {
    stroke: var(--main-color);
}

.svg-sprite {
    height: 84px;

    transform: translateY(-28px);
}
