.layout-container {
    margin: 0 auto;

    width: 100%;
    height: 100vh;

    position: relative;
}

@media (min-width: 1440px) {
    .layout-container {
        width: 144rem;
    }
}
