@import url("./fonts.css");
@import url("./variables.css");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--body-bg-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
