:root {
    --black: #000;
    --white: #fff;

    --main-black-color: #0a0a0a;
    --main-black-lighter-color: #28292f;
    --main-white-color: #000;
    --main-orange-color: #e4812f;
    --main-orange-lighter-color: #f9ae5c;

    --body-bg-color: var(--white);

    --header-bg-color: var(--white);

    --loader-columns-color: #ddd;

    --logo-color: var(--main-orange-color);
}

:root:has(body[data-theme="dark"]) {
    --body-bg-color: var(--main-black-color);

    --header-bg-color: var(--main-black-lighter-color);
}
