:root {
    /* media breakpoints */
    --max-screen-width: 144rem;
    --min-screen-width: 37.5rem;

    /* fonts */
    --Inter: "Inter", sans-serif;

    /* default colors */
    --black: #000;
    --white: #fff;

    /* main colors */
    --main-black-color: #0a0a0a;
    --main-black-lighter-color: #28292f;
    --main-color: #3a26e9;
    --main-lighter-color: #6675f7;

    --theme-switch-execution: 0.4s;

    /* components */
    --line-color: #e7e7e7;
    --body-bg-color: var(--white);
    --header-bg-color: var(--white);
    --loader-columns-color: #ddd;
    --logo-color: var(--main-color);
    --link-color: #28292f;
    --link-color-active: var(--main-color);
    --player-bg-color: #ffffff75;
    --player-height: 6rem;
    --button-text-color: #28292f;
    --track-info-color: var(--black);
    --track-info-hovered-color: var(--main-color);
    --track-info-transition-time: 0.2s;
}

:root:has(body[data-theme="dark"]) {
    /* main colors */
    --main-color: #27d0e7;
    --main-lighter-color: #5ceef9;

    --line-color: #474747;
    --body-bg-color: var(--main-black-color);
    --header-bg-color: var(--main-black-lighter-color);
    --logo-color: var(--main-lighter-color);
    --link-color: #fff;
    --link-color-active: var(--main-lighter-color);
    --player-bg-color: #28292f75;
    --button-text-color: #fff;
    --track-info-color: var(--white);
    --track-info-hovered-color: var(--main-color);
}
