.track-content__wrapper {
    height: var(--player-height);
    width: auto;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.track-content__wrapper img {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
}

.track-content__info {
    height: inherit;
    max-width: var(--track-info-width);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;

    transition: width var(--track-info-transition-time);
}

.track-info {
    color: var(--track-info-color);
    font-size: 1.5rem;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 100%;
}

.info__track-name {
    font-weight: 600;
}

@media (hover: hover) {
    .track-info:hover {
        color: var(--track-info-hovered-color);
    }

    .track-content__wrapper .track-content__hover {
        width: 100%;
        max-width: none;
    }
}
